* {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 50vw;
  padding: 0%;
  margin: 2%;
  background-color: rgb(50, 163, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;

}

input .label-name