* {
  box-sizing: border-box;
}

body{
  width: 50vw;
  height: 50vw;
  padding: 0%;
  margin: 2%;
  background-image: linear-gradient(aqua, purple);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}

.jumbotron {
  padding: 0%;
  margin: 2%;
  /* position: absolute; */
  padding-bottom: 7%;
}

.output {
  display: none;
}